
/* Ajusta el tamaño de las imágenes */
.img_celular {
    height: 20rem; /* Establece un alto fijo para todas las imágenes */
    object-fit: contain; /* Asegura que las imágenes se ajusten sin cortarse, manteniendo toda la imagen visible */
    width: 100%; /* Asegura que la imagen use todo el ancho posible del contenedor */
}
/* Ajusta el tamaño del carrusel */
.carousel-inner {
    max-height: 75rem; /* Limita el alto del carrusel */
}
.container.my-4 {
    max-width: 50rem; /* Reducir el ancho del carrusel */
    background-color: #3eabe635;
    border-radius: 2rem;
}

.texto_carrusel{

    background-color: #12224199;
    border-radius: 2rem;

}