{% load static %}

<link rel="stylesheet" href="{% static 'css/Footer.css' %}"/>

<body>
    <footer>
    <div class="container my-5">
    <div class="text-center text-white">
      <div class="container">
        <section class="mt-5">
          <div class="row text-center d-flex justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a class="titulo" href="{% url 'listarProducto' %}">Productos</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a class="titulo" href="#!">Dirección</a>
              </h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a class="titulo" href="#!">Contacto</a>
              </h6>
            </div>
          </div>
        </section>
  
        <hr class="my-5" />
  
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p class="parrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                distinctio earum repellat quaerat voluptatibus placeat nam,
                commodi optio pariatur est quia magnam eum harum corrupti
                dicta, aliquam sequi voluptate quas.
              </p>
            </div>
          </div>
        </section>
  
        <section class="text-center mb-3">
            <div class="mx-auto">
                <a class="btn btn-outline btn-floating m-1" role="button"><i class="bi bi-facebook"></i></a>
                <a class="btn btn-outline btn-floating m-1" role="button"><i class="bi bi-twitter"></i></a>
                <a class="btn btn-outline btn-floating m-1" role="button"><i class="bi bi-google"></i></a>
                <a class="btn btn-outline btn-floating m-1" role="button"><i class="bi bi-instagram"></i></a>
              </div>
        </section>
      </div>
  
      <div class="endline text-center p-3">
        <a class="titulo" href="https://mdbootstrap.com/">© 2020 Copyright: MDBootstrap.com</a>
      </div>
    </div>
    
  </div>
    </footer>
</body>
